<!DOCTYPE html>
<html lang="da">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Footer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<footer class="footer">
  <div class="footer-content">
    <div class="social-media">
      <a href="https://www.linkedin.com/in/simon-hansen-nysted/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/SimonOnyszczakHansen" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <p><i class="fas fa-copyright"></i> 2024 Simon Onyszczak Hansen. All rights reserved.</p>
  </div>
</footer>

</html>