<footer class="footer">
  <div class="footer-content">
    <div class="social-media">
      <a href="https://www.linkedin.com/in/simon-hansen-nysted/" target="_blank" aria_label="link to my linkedin account"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/SimonOnyszczakHansen" target="_blank" aria_label="link to my github account"><i class="fab fa-github"></i></a>
    </div>
    <p><i class="fas fa-copyright"></i> 2025 Simon Onyszczak Hansen. All rights reserved.</p>
  </div>
</footer>