<body>
    <section class="hero">
        <div class="hero-content">
            <h1 i18n="Short introduction|A brief introduction of my name and background">
                Hi! I'm Simon Onyszczak Hansen, a datatechnician focused on programming.
            </h1>
            <h2 i18n="Main heading|">
                Transforming Ideas into <span>Digital Realities</span>
            </h2>
            <h3 i18n="Subheader|">
                Creating Modern Web Experiences
            </h3>
            <a class="cta-button" (click)="goToContactPage()">
                Get in contact <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </section>
    <app-footer></app-footer>
</body>