<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">'
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Home</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="hero">
        <div class="hero-content">
            <h3>Creating Modern Web Experiences</h3>
            <h1>Transforming Ideas into <span>Digital Realities</span></h1>
            <p>Hi! I'm Simon, a developer based in Denmark.</p>
            <a class="cta-button" type="button">Get in contact <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>