<body>
    <div class="hero">
        <div class="hero-content">
            <h3 i18n="Subheader above the main header|">Creating Modern Web Experiences</h3>
            <h1 i18n="page main heading|">Transforming Ideas into <span>Digital Realities</span></h1>
            <p i18n="Short indtroduction|A brief introduction of my name and where i am from">Hi! I'm Simon, a developer based in Denmark.</p>
            <a i18n="button for getting in contact" class="cta-button" type="button" (click)="goToContactPage()">Get in contact <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <app-footer></app-footer>
</body>