<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>    
    <nav class="navbar">
        <ul>
          <li><a class="nav-link" [class.active]="activeSection === 'home'" (click)="setActive('home')">Home</a></li>
          <li><a class="nav-link" [class.active]="activeSection === 'projects'" (click)="setActive('projects')">Projects</a></li>
          <li><a class="nav-link" [class.active]="activeSection === 'about'" (click)="setActive('about')">About</a></li>
          <li><a class="nav-link" [class.active]="activeSection === 'contact'" (click)="setActive('contact')">Contact</a></li>
        </ul>
      </nav>
      
</body>
</html>