.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(0, 0, 255);
    border-radius: 50px;
    z-index: 1;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 3em;
    margin: 0;
    padding: 0;
    z-index: 9;
    position: relative;
    padding-inline-start: 0;
}

.navbar .underline {
    position: absolute;
    bottom: -0.5em;
    height: 4px;
    background: linear-gradient(to right, #0300a8, #0065e9);
    transition: width 0.5s ease, left 0.5s ease;
    z-index: 0;
    left: 0;
    border-radius: 2rem;
}

.no-transition .underline {
    transition: none;
}

.navbar .nav-link {
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.navbar .nav-link:hover {
    cursor: pointer;
}

.navbar .active {
    background: linear-gradient(to right, #0300a8, #0065e9);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
}

@media (max-width: 600px) {
}
