body {
    margin: 0;
    scroll-snap-type: y mandatory;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero-content {
    color: white;
    max-width: 35em;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
    transition: opacity 1s ease, transform 1s ease;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.hero h1 span {
    background: linear-gradient(to right, #020072, #0065e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #bbb;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
}

.scroll-down p {
    margin: 0;
    font-size: 1rem;
    margin-bottom: 10px;
    color: white;
}

.scroll-down i {
    font-size: 2rem;
    color: #fff;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px); 
    }
    60% {
        transform: translateY(-5px);
    }
}

.project-card {
    display: flex;
    align-items: center;
    margin: 2em auto;
    padding: 4em;
    border: 2px solid #020072;
    border-radius: 20px;
    max-width: 80%;
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
}

.project-image img {
    width: 40vw;
    height: auto;
    display: block;
    box-shadow: 0 0 10px 5px rgba(0, 115, 255, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.project-details {
    flex: 1;
    margin-left: 3em;
}

.project-details h2,
.project-details p {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center;
    width: 30vw
}

.project-details h2 {
    font-size: 2rem;
    margin-bottom: 1em;
    background: linear-gradient(to right, #020072, #0065e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.project-details p {
    font-size: 1rem;
    color: #888888;
}

.hero, .project-card-container {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
