<body>
  <div class="hero">
    <div class="hero-content">
      <h1>Hey There, Check Out My <span>Work!</span></h1>
      <p>Check out the cool apps and coding projects I've been working on!</p>
    </div>
    <div class="scroll-down">
      <p>Scroll down</p>
      <a><i class="fas fa-arrow-down"></i></a>
    </div>
  </div>
  <div class="project-card-container">
    <div class="project-card-outline">
      <div class="project-card" [routerLink]="['/projects', 'portionpal']">
        <i class="fas fa-arrow-right arrow-icon"></i>
        <div class="project-details">
          <h1>PortionPal</h1>
          <h3>School Project <span>— A website to control an automatic pet feeding machine</span></h3>
          <img src="assets/images/PortionPal.png" alt="PortionPal">
        </div>
      </div>
    </div>
  </div>
  <div class="project-card-container">
    <div class="project-card-outline">
      <div class="project-card" [routerLink]="['/projects', 'password-generator']">
        <i class="fas fa-arrow-right arrow-icon"></i>
        <div class="project-details">
          <h1>Password Generator</h1>
          <h3>ZBC <span>— Giving people a unique and safe password</span></h3>
          <img src="assets/images/PasswordGenerator.png" alt="Password Generator">
        </div>
      </div>
    </div>
  </div>
  <div class="project-card-container">
    <div class="project-card-outline">
      <div class="project-card" [routerLink]="['/projects', 'smart-city-traffic-management']">
        <i class="fas fa-arrow-right arrow-icon"></i>
        <div class="project-details">
          <h1>Smart City Traffic Management</h1>
          <h3>School Project <span>— A project where we used kafka to handle large amounts of data</span></h3>
          <img src="assets/images/TrafficManagement.png" alt="Smart City Traffic Management">
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>