<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Projects</title>
</head>

<body>
    <div class="hero">
        <div class="hero-content">
            <h1>Hey There, Check Out My <span>Work!</span></h1>
            <p>Check out the cool apps and coding projects I've been working on!</p>
        </div>
        <div class="scroll-down">
            <p>Scroll down</p>
            <i class="fas fa-arrow-down"></i>
        </div>
    </div>

    <div class="project-card">
        <div class="project-image">
            <img src="assets/images/PasswordGenerator.png" alt="Password Generator">
        </div>
        <div class="project-details">
            <h2>Password Generator</h2>
            <p>WOIJDJIOWDIO IWJ IODWQJIO DJWI OJDO WIJOI WJDI J I JWIOJOIWJIOJOIWJIODWQJIDJOWQID JIOWJI JW OWJI JOWJIO JIO JIOJO OII J JO JI JIOJ IJI  IJIOJOJOIJIJJ OIOOIOIJ OIJIOJIOJJI JIOIOJJIOJIOIJOIJOOJI IJOJIOIJOIJOJI OJI JIO JOIJ IOIOJ IIOJ IO IOJ IJO IJOIJOJIO IOJIJJIO JIOJIOOJI IOJ OIJIJJI IJOIJIOJ OIJ OIJIJOIJ IJO OIJJOIOJI OIJ IO JIOOJI IOJ JIO IOI J II OIJOIJOJIOJI IJOOIJOIJIOJ IOJOIOI J OI OIJIOIO IO JO JIO JIIJO JI JOI JOI IOJ IJ JIOJ JOI  OIJ JJ OIJ IOIJOOJI IJOJIOJIJIOJI IJJJ IOJO IOJIO IJO IJO JIOJIOI JOO JIJIO JIOJOIJOIJIO JIOJOI OJI OJI OIJOIJIOJOIJ OJI OIJ JIO IOJIOJ OIJ JI  IJIJ</p>
        </div>
    </div>

    <app-footer></app-footer>
</body>

</html>
