<body>
    <div class="hero">
        <div class="hero-content">
            <h3>Datatechnician with focus on programming</h3>
            <h1>Hi, My Name Is <span>Simon Onyszczak Hansen</span></h1>
            <p>A passionate developer with a burning passion for Frontend and UX/UI design.</p>
        </div>
    </div>

    <div class="about-me-section">
        <div class="about-me-content">
            <h1>About Me</h1>
            <div class="about-me-grid">
                <div class="about-me-text">
                    <p>
                        Hi! I'm Simon, a 19-year-old passionate developer with a love for IT and programming.
                    </p>
                    <div class="about-me-highlights">
                        <div class="highlight">
                            <i class="fas fa-school"></i>
                            <p>Studying at ZBC Ringsted</p>
                        </div>
                        <div class="highlight">
                            <i class="fas fa-code"></i>
                            <p>Working on a Password Generator</p>
                        </div>
                        <div class="highlight">
                            <i class="fas fa-futbol"></i>
                            <p>Football Enthusiast</p>
                        </div>
                        <div class="highlight">
                            <i class="fas fa-plane"></i>
                            <p>Open to Relocation in Denmark</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="skills-container">
        <div class="skills-header">
            <h1>My Skills</h1>
        </div>
    </div>
    <div class="carousel3d">
        <div class="carousel3d-container">
            <div class="carousel3d-item">
                <i class="fab fa-html5"></i>
                <p>HTML</p>
            </div>
            <div class="carousel3d-item">
                <i class="fab fa-css3-alt"></i>
                <p>CSS</p>
            </div>
            <div class="carousel3d-item">
                <i class="fab fa-js-square"></i>
                <p>JavaScript</p>
            </div>
            <div class="carousel3d-item">
                <i class="fas fa-database"></i>
                <p>SQL</p>
            </div>
            <div class="carousel3d-item">
                <i class="fab fa-angular"></i>
                <p>Angular</p>
            </div>
            <div class="carousel3d-item">
                <i class="fas fa-hashtag"></i>
                <p>C#</p>
            </div>
            <div class="carousel3d-item">
                <i class="fas fa-server"></i>
                <p>ASP.NET</p>
            </div>
            <div class="carousel3d-item">
                <i class="fas fa-mobile-alt"></i>
                <p>Flutter</p>
            </div>
        </div>
    </div>
    <div class="strengths-header-container">
        <h1 class="strengths-header">My Strengths</h1>
    </div>
    <div class="card-container">
        <div class="card">
            <i class="fas fa-plane-departure"></i>
            <h2>Flexibility</h2>
            <p>
                I’m open to relocating anywhere in Denmark for the right opportunity. Embracing new environments and challenges excites me.
            </p>
        </div>

        <div class="card">
            <i class="fas fa-sync-alt"></i>
            <h2>Adaptability</h2>
            <p>
                Thriving in dynamic environments, I quickly adapt to changes, ensuring success in fast-paced projects.
            </p>
        </div>

        <div class="card">
            <i class="fas fa-users"></i>
            <h2>Teamwork</h2>
            <p>
                Collaborating with teams to bring ideas to life excites me. My collaborative approach fosters productive teamwork and successful outcomes.
            </p>
        </div>

        <div class="card">
            <i class="fas fa-brain"></i>
            <h2>Problem Solving</h2>
            <p>
                Solving complex problems with elegant code drives me. I approach every challenge with a logical and creative mindset.
            </p>
        </div>

        <div class="card">
            <i class="fas fa-lightbulb"></i>
            <h2>Creativity</h2>
            <p>
                With an eye for design, I bring creativity to each project, crafting visually stunning interfaces.
            </p>
        </div>

        <div class="card">
            <i class="fas fa-comments"></i>
            <h2>Communication</h2>
            <p>
                Effective communication is key. I prioritize clear exchanges to ensure everyone is aligned and informed.
            </p>
        </div>
    </div>

    <app-footer></app-footer>
</body>