<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>About</title>
</head>

<body>
    <div class="hero">
        <div class="hero-content">
            <h3>Datatechnician with focus on programming</h3>
            <h1>Hi, My Name Is <span>Simon Onyszczak Hansen</span></h1>
            <p>A passionate developer with a burning passion for Frontend and UX/UI design.</p>
        </div>
    </div>
    <div class="skills-container">
        <div class="skills-header">
            <h1>My Skills</h1>
        </div>
    </div>
    <div class="carousel3d">
        <div class="carousel3d-container">
            <div class="carousel3d-item">
                <i class="fab fa-html5"></i>
                <p>HTML</p>
            </div>
            <div class="carousel3d-item">
                <i class="fab fa-css3-alt"></i>
                <p>CSS</p>
            </div>
            <div class="carousel3d-item">
                <i class="fab fa-js-square"></i>
                <p>JavaScript</p>
            </div>
            <div class="carousel3d-item">
                <i class="fas fa-database"></i>
                <p>SQL</p>
            </div>
            <div class="carousel3d-item">
                <i class="fab fa-angular"></i>
                <p>Angular</p>
            </div>
            <div class="carousel3d-item">
                <i class="fas fa-hashtag"></i>
                <p>C#</p>
            </div>
            <div class="carousel3d-item">
                <i class="fas fa-server"></i>
                <p>ASP.NET</p>
            </div>
            <div class="carousel3d-item">
                <i class="fas fa-mobile-alt"></i>
                <p>Flutter</p>
            </div>
        </div>
    </div>
    <div class="card-container">
        <!-- Flexibility Card -->
        <div class="card">
            <i class="fas fa-plane-departure"></i>
            <h2>Flexibility</h2>
            <p>
                I’m open to relocating anywhere in Denmark for the right opportunity. Whether it’s a position in Copenhagen or Aalborg, I’m ready to embrace new environments and challenges!
            </p>
        </div>
    
        <!-- Adaptability Card -->
        <div class="card">
            <i class="fas fa-sync-alt"></i>
            <h2>Adaptability</h2>
            <p>
                Thriving in dynamic environments where learning new technologies is constant, I quickly adapt to changes, ensuring success in fast-paced projects.
            </p>
        </div>
    
        <!-- Teamwork Card -->
        <div class="card">
            <i class="fas fa-users"></i>
            <h2>Teamwork</h2>
            <p>
                Collaborating with teams to bring ideas to life excites me. Through brainstorming and code reviews, my collaborative approach fosters productive teamwork and successful outcomes.
            </p>
        </div>
    
        <!-- Problem Solving Card -->
        <div class="card">
            <i class="fas fa-brain"></i>
            <h2>Problem Solving</h2>
            <p>
                Solving complex problems with elegant code drives me. I approach every challenge with a logical and creative mindset, always striving for the most effective solution.
            </p>
        </div>
    
        <!-- Creativity Card -->
        <div class="card">
            <i class="fas fa-lightbulb"></i>
            <h2>Creativity</h2>
            <p>
                With an eye for design, I bring creativity to each project. Whether finding unique solutions or crafting visually stunning interfaces, I aim to deliver innovative work.
            </p>
        </div>
    
        <!-- Communication Card -->
        <div class="card">
            <i class="fas fa-comments"></i>
            <h2>Communication</h2>
            <p>
                Effective communication is key to successful collaboration. I prioritize clear and concise exchanges to ensure everyone is aligned and informed, contributing to smoother project execution.
            </p>
        </div>
    </div>
    
    <app-footer></app-footer>
</body>

</html>