<head>
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css">
</head>
<button id="button-back" [routerLink]="['/projects']" aria-label="Go back">
  <i class="fas fa-arrow-left"></i> Back
</button>

<nav id="table-of-contents" aria-label="Table of Contents">
  <h4>Contents</h4>
  <ul>
    <li>
      <button (click)="scrollToSection('section1')" [class.active]="activeSection === 'section1'">
        1. Introduction & Overview
      </button>
    </li>
    <li>
      <button (click)="scrollToSection('section2')" [class.active]="activeSection === 'section2'">
        2. How It Works
      </button>
    </li>
    <li>
      <button (click)="scrollToSection('section3')" [class.active]="activeSection === 'section3'">
        3. Usage & Extra Features
      </button>
    </li>
  </ul>
</nav>

<main>
  <h1>Details for {{ project?.title }}</h1>
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error">{{ error }}</div>

  <section id="section1" aria-labelledby="section1-heading" *ngIf="project">
    <h2 id="section1-heading"><span>1. Introduction & Overview</span></h2>
    <p>{{ project.sections.introduction }}</p>
    <img [src]="project.images.preview" alt="" class="image-preview" />
  </section>

  <section id="section2" aria-labelledby="section2-heading" *ngIf="project">
    <h2 id="section2-heading"><span>2. How It Works</span></h2>
    <p>{{ project.sections.howItWorks }}</p>
    <div *ngIf="project.codesnippet">
      <pre>
        <code class="language-js">
        {{ project.codesnippet }}
        </code>
      </pre>
    </div>
  </section>

  <section id="section3" aria-labelledby="section3-heading" *ngIf="project">
    <h2 id="section3-heading"><span>3. Usage & Extra Features</span></h2>
    <p>{{ project.sections.usage }}</p>
    <img [src]="project.images.result" alt="" class="image-preview" />
  </section>
</main>