.language-switcher {
    
}

.language-switcher select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    background-repeat: no-repeat;
    background-position: right 1rem center;
    border: 1px solid rgb(0, 0, 255);
    border-radius: 1rem;
    padding: 0.6rem 1.4rem 0.6rem 1rem;
    font-family: skibidi;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease, transform 0.2s ease;
    position: fixed;
    top: 2rem;
    right: 4rem;
    z-index: 999999;
}

.language-switcher option {
    background-color: #1a1a1a;
    color: #fff;
}

@media(max-width: 768px) {
    .language-switcher select {
        top: 0.4rem;
        right: 0.4rem;
        border: none;
        backdrop-filter: none;
        background-color: rgba(255, 255, 255, 0);
        font-size: small;
    }
}